{% extends 'layout.html' %} {% block content %}
<main id="main">
    <h2>Movie List</h2>
    <div align="center">{{ l_link }}{% for letter in initials %}<a href="{{ url_for('browse_bp.browse_by_title') }}?letter={{ letter }}"> {{ letter }}</a> {% endfor %}{{ r_link }}</div>
    <table width="100%"><th width="60%">Title</th><th>Release Year</th>
    {% for movie in movie_list %}<tr>
        <td><a href="{{ url_for('browse_bp.view_movie_info') }}?movie_name={{ movie.title }}&date={{ movie.release_year }}">{{ movie.title }}</td><td>{{ movie.release_year }}</td></a>
    </tr>{% endfor %}
    </table>
</main>
{% endblock %}